<div class="childPage">
    <div id="homeContainer">
        <!--Summer sale- BIG size-->
        <div class="homeColumn">
            <img src="assets/images/summer-sale.png" alt="Summer Sale" id="summerSale" />
        </div>

        <!--Other discount and blog- small size-->
        <div class="homeColumn">
            <img src="assets/images/cat-harness-sale.png" alt="Cat Harness Sale" class="smallImages clickable" (click)="showCatProducts()" />
            <img src="assets/images/blog.png" alt="Blog" class="smallImages" />
        </div>
    </div>
</div>